body
{
    box-sizing: border-box;
    margin: 0;
    overflow: hidden;
}

.sml-rating
{
    background: linear-gradient(-45deg, #c2c2c2, #b5e0fc, #83c9e2, #a3cfda);
    transition: background-image 0.2s ease-in-out;
    background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
    overflow: hidden;
    color: #fff;
}

.sad
{
    background: linear-gradient(-45deg, #fd4c4c, #ff5d1d, #d14200, #aa0000);
    transition: background-image 0.2s ease-in-out;
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
}

.container
{
    width: 100%;
    text-align: center;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.anim
{
    transform: translateY(-900%) !important;
    transition: transform 1s ease;
    display: unset;
}

.container h2
{
    text-align: center;
    font-family: sans-serif;
    font-size: 40px;
}

.i-container i:hover
{
    cursor: pointer;
}

.i-container 
{
    display: flex;
    justify-content: center;
    gap: 20px;
}

#grin:hover
{
    color: #238823;
    transition: all ease-in-out .2s;
}

#grin
{
    transition: all ease-in-out .2s;
}

#meh:hover
{
    color: #ffbf00;
    transition: all ease-in-out .2s;
}

#meh
{
    transition: all ease-in-out .2s;
}

#frown:hover
{
    color: #D2222D;
    transition: all ease-in-out .2s;
}

#frown
{
    transition: all ease-in-out .2s;
}

.container-ty
{
    font-family: sans-serif;
    width: 100%;
    text-align: center;
    margin: 0;
    position: absolute;
    bottom: -200px;
    font-size: 20px;
}

.display-none
{
    display: none;
}

.fa-xmark
{
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 20px;
    margin-right: 20px;
    opacity: 0.7;
}

.fa-xmark:hover
{
    cursor: pointer;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
